body {
    background-color: #95F8D2;
    font-family:'Oswald', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

h1 {
    text-transform: uppercase;
}

.banner {
    color:white;
    background-color: coral;
    text-align: center;
}


table{
    background-color: #97C8E9;
    padding: 20px;
    border: 1px solid black;
}

td{
    font-family:'Nunito', sans-serif;
}

.table-right{
    float: right;
    margin:0 0 0 1cm;
}

table img{
    width: 250px;
}