body{
    background-color: #E0E8EA;
    color: #4D5D60;
    font-family: oswald, arial, sans-serif;
}

h3{
    font-family: oswald, arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}