body{
    margin: 1px;
    font-family: 'Barlow', sans-serif;
    background-color: #FCFCF0;
    color:#151D5A;
}

header{
    background-color: #151D5A;
    color: #FCFCF0;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

h2{
    font-weight: lighter;
    padding-top: 10px;
    font-size: 1em;
}

main{
    margin: 10px 1.2em 20px;
    max-width:550px;
    padding-top: 8px;
}
div{
    align-items: center;
}


.caption{
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
    font-size: smaller;
    max-width: 400px;
    padding-bottom:5px;
}

.graphic-c, .spotify{
    padding: 5px 2px;
}
iframe{
    padding:2px;
}

footer{
    font-weight: lighter;
    font-size: smaller;
}

@media (max-width:600px){
    header{
        margin-top: 75px;
        margin-bottom: 50px;
    }
h2, h1{ 
    font-size: .5em;
}

}