body{
    margin: 1px;
    font-family: 'Barlow', sans-serif;
    background-color: #FCFCF0;
    color:#151D5A;
    font-size:20px;
}

header{
    background-color: #151D5A;
    color: #FCFCF0;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

h2{
    font-weight: lighter;
    padding-top: 30px;
    font-size: 1em;
    border-top: solid #FCFCF0;
}
.article{
    max-width:650px;
    padding-top: 60px;
    display: block;
    margin: 0 auto;
}


.caption{
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    padding-bottom:5px;
}

.graphic-c, .spotify, .graphic-p{
    padding: 10px 2px;
}
iframe{
    padding:2px;
}

footer{
    font-weight: lighter;
    font-size: smaller;
    align-items: center;
}

@media (max-width:600px){
    header{
        margin-top: 75px;
        margin-bottom: 50px;
    }
h2, h1{ 
    font-size: .5em;
}

}